//Header background Image
$headerBackground: "../images/header.jpg";

// Logo SignIn
$logoPath: '../images/';
$logoSignInWidth: 170px;
$logoSignInSpace: 6% auto 5% auto;

//Nav font
$navFontStyle: 'Averia Sans Libre', cursive;
$navColor: #fff;

//Nav Hover
$navHoverColor: #0099cc;

//Header font
$headerColor: #fff;



