/*Portfolio*/
.portfolio {
  height: 30em;
  //border:2px solid;
}

.featureProject {
  width: 33.33%;
  height: 50%;
  float: right;
  border:1px solid black;
  img {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
.portfolioHeader h1 {
  color: #141414;
  font-family: "Lato", sans-serif;
  font-size: 18px !important;
  font-weight: 800;
  text-transform: uppercase;
  padding: 25px;
}

