/** {*/
	/*margin: 0;*/
	/*padding: 0;*/
/*}*/
	/*!*Navigation bar & Menu *!*/
/*.nav {*/
	/*font-family: 'Open Sans', sans-serif;*/
	/*background-color: rgba(255, 255, 255, 0.41);*/
	/*border-radius: 1px;*/
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.4);*/
	/*height: 4em;*/
	/*position: fixed;*/
	/*width: 100%;*/
	/*font-weight: 700;*/
	/*color: #fff;*/
/*}*/

/*.navRow {*/
	/*position: relative;*/
/*}*/

/*.logo { */
	/*float: left;*/
	/*font-size: 18px;*/
	/*display: block;*/
	/*padding: 24px 20px;*/
	/*color: #fff;*/
/*}*/

/*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
/*}*/

/*.navLinks li {*/
    /*float: right;*/
	/*font-size: 13px;*/
/*}*/

/*.navLinks li a {*/
    /*display: block;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*padding: 24px 16px;*/
    /*text-decoration: none;*/
    /*line-height: 20px;*/
/*}*/

/*.navLinks li a:hover {*/
    /*color: #0099cc;*/
	/*border-top: solid #0099cc;*/
/*}*/

	/*!*Header*!*/

/*!* Animation *!*/
/*.anim-typewriter{*/
  /*animation: typewriter 2.5s steps(44) 3s 1 normal both,*/
             /*blinkTextCursor 500ms steps(44) infinite normal;*/
/*}*/

/*.anim-typewriter2{*/
  /*animation: typewriter 3s steps(44) 6s 1 normal both,*/
             /*blinkTextCursor 500ms steps(44) infinite normal;*/
/*}*/

/*@keyframes typewriter{*/
  /*from{width: 0;}*/
  /*to{width: 15em;}*/
/*}*/
/*@keyframes blinkTextCursor{*/
  /*from{border-right-color: rgba(255,255,255,.75);}*/
  /*to{border-right-color: transparent;}*/
/*}*/
/*.line-1{*/
    /*position: relative;*/
    /*top: 50%;  */
    /*width: 24em;*/
    /*margin: 0 auto;*/
    /*border-right: 2px solid rgba(255,255,255,.75);*/
    /*font-size: 180%;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*transform: translateY(-50%);    */
/*}*/

/*!* Header *!*/
/*.header {*/
	/*height: 55em;*/
	/*background:url("../images/header2.jpg");*/
	/*background-size: 100% auto;*/
	/*margin-top: -20px;*/

	/*!* Create the parallax scrolling effect *!*/
	/*background-attachment: fixed;*/
	/*background-position: center;*/

/*}*/

/*.headWrapper {*/
	/*top: 6em;*/
	/*height: 500px;*/
	/*width: 70em;*/
	/*margin: 0 auto;*/
	/*position: relative;*/
    /*text-align: center;*/
/*}*/

/*.headerTxt {*/
	/*font-size: 3em;*/
	/*font-weight: 700;*/
	/*margin: 0 auto;*/
	/*position: relative;*/
	/*top: 125px;*/
	/*color: white;*/
/*}*/

/*.headerText {*/
	/*font-size: 2em;*/
	/*font-weight: 700;*/
	/*margin: 0 auto;*/
	/*position: relative;*/
	/*top: 125px;*/
	/*color: white;*/
/*}*/
/*.icons {*/
	/*margin-top: 15%;*/
/*}*/
/*.icons li {*/
	/*display: inline-block;*/
	/*margin: 10px;*/
/*}*/
/*.icon{*/
	/*height: 3em;*/
/*}*/

/*.headAbout {*/
	/*position: relative;*/
	/*color: white;*/
	/*top:30%;*/
	/*font-size: 25px;*/
	/*-webkit-transition-delay: 10s; !* Safari *!*/
    /*transition-delay: 2s;*/
/*}*/

	/*!*Portfolio*!*/
/*.portfolio {*/
	/*height: 30em;*/
	/*border:2px solid;*/
/*}*/

/*.featureProject {*/
	/*width: 33.33%;*/
	/*height: 50%;*/
	/*float: right;*/
/*}*/
/*.pj1 {*/
	/*background-color: blue;*/
/*}*/
/*.pj1 img {*/
	/*height: 100%;*/
	/*width: 100%;*/
	/*overflow: hidden; */
/*}*/
/*.pj2 {*/
	/*background-color: orange;*/
/*}*/
/*.pj2 img {*/
	/*height: 100%;*/
	/*width: 100%;*/
	/*overflow: hidden;*/
/*}*/
/*.pj3 {*/
	/*background-color: green;*/
/*}*/
/*.pj4 {*/
	/*background-color: #FC00FF;*/
/*}*/
/*.pj5 {*/
	/*background-color: #34130D;*/
/*}*/
/*.pj6 {*/
	/*background-color: #0E9DBC;*/
/*}*/

	/*!*About Me *!*/
/*.about {*/
	/*background-color: white;*/
	/*height: 30em;*/
/*}*/

/*.contact {*/
	/*background-color: #9AD920;*/
	/*height: 30em;*/
/*}*/

